# Main API Server Port
PORT=3000

# Mock HCM Server Port
HCM_PORT=3001

# HCM Integration Settings
HCM_BASE_URL=http://localhost:3001/api/hcm
HCM_TIMEOUT=5000
HCM_RETRY_ATTEMPTS=3
HCM_RETRY_DELAY=1000
